
<div>
  <pre>
    <h2> Welcome to the Game! </h2>
<%= session[:game].opponent_board_view session[:game].player_1 %>
  </pre>
    <form action="/coordinate">
      Please enter board coordinate to shoot at:
      <input type="text" name="coordinate">
      <input type="submit" value="Submit">
    </form>
     <% if @coordinate %>
    <h3><%= session[:game].player_1.shoot @coordinate.to_sym %></h3>
  <% end %>
</div>
