<div>
  <% if @coordinate %>
    <a>Miss!</a>
  <% else %>
    Welcome in the game
    <form action="/coordinate">
      Please enter board coordinate to shoot at:
      <input type="text" name="coordinate">
      <input type="submit" value="Submit">
    </form>
  <% end %>
</div>
