<div>
  <% if @visitor %>
    <a href="/coordinate">Hello, <%= @visitor %>! Click to enter the game.</a>
  <% else %>
    <form action="/new_game">
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% end %>
</div>
