<div>
  <% if @visitor %>
    Hello, <%= @visitor %>!
    <a href="/coordinate">Enter game</a>
  <% else %>
    <form action="/new_game">
      What's your name?
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>
  <% end %>
</div>
