<div>
  <center>
    Where do you want to place your ship? <br>
    <form action="/coordinate">
      Aircraft Carrier:
      <input type="text" name="coordinate">
      <select name="rotation">
        <option value="horizontally">horizontally</option>
        <option value="vertically">vertically</option>
      </select>
      <br> Battleship:
      <input type="text" name="coordinate2">
      <select name="rotation2">
        <option value="horizontally">horizontally</option>
        <option value="vertically">vertically</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </center>
<div>
