<div>
  <center>
    Where do you want to place your ship? <br>
    <form action="/coordinate">
      Aircraft Carrier: 
      <input type="text" name="coordinate">
      <input type="text" name="rotation">
      <br> Battleship: 
      <input type="text" name="coordinate2">
      <input type="text" name="rotation2">
      <input type="submit" value="Submit">
    </form>
  </center>
<div>